In [1]:
import pandas as pd

In [5]:
# Read in file
df_movies=pd.read_csv("ml-latest-small/movies.csv")
df_ratings=pd.read_csv("ml-latest-small/ratings.csv")
df_tags=pd.read_csv("ml-latest-small/tags.csv")
#combine files
df_sub = pd.concat([df_movies, df_ratings,df_tags]).drop_duplicates()
df_sub.tail()

      movieId title genres  userId  rating     timestamp               tag
3678     7382   NaN    NaN   606.0     NaN  1.171234e+09         for katie
3679     7936   NaN    NaN   606.0     NaN  1.173392e+09           austere
3680     3265   NaN    NaN   610.0     NaN  1.493844e+09            gun fu
3681     3265   NaN    NaN   610.0     NaN  1.493844e+09  heroic bloodshed
3682   168248   NaN    NaN   610.0     NaN  1.493844e+09  Heroic Bloodshed

In [3]:
del df_sub["timestamp"]
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114261 entries, 0 to 3682
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  114261 non-null  int64
 1   title    9742 non-null    object
 2   genres   9742 non-null    object
 3   userId   104519 non-null  float64
 4   rating   100836 non-null  float64
 5   tag      3683 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 6.1+ MB

In [4]:
df_sub.describe()

             movieId         userId         rating
count  114261.000000  104519.000000  100836.000000
mean    21628.223891     329.828280       3.501557
std     38057.407678     182.849716       1.042529
min         1.000000       1.000000       0.500000
25%      1222.000000     177.000000       3.000000
50%      3267.000000     333.000000       3.500000
75%      8969.000000     477.000000       4.000000
max    193609.000000     610.000000       5.000000